{% extends 'base.html' %}

{% block title %}
Détails : {{ director }}
{% endblock %}

{% block styles %}
{{ block.super }}
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity ="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin ="anonymous"> -->
{% endblock %}

{% block content %}
<h1>Détails du réalisateur : {{ director }}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="https://via.placeholder.com/150">
    </div>
    <div class="col-md-8">
        <h2>Biographie</h2>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
            officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem 
            rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis 
            est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere 
            possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem 
            quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et 
            voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic 
            tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
            aut perferendis doloribus asperiores repellat.
        </p>
    </div>
</div>
{% endblock %}