{% extends "base.html" %}

	{% block title %}
		{{title}}
	{% endblock %}

	{% block content %}
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">{{action}}</button>
		</form>
	{% endblock %}