{% extends 'base.html' %}

{% block title %}
Genres
{% endblock %}

{% block styles %}
{{ block.super }}
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity ="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin ="anonymous"> -->
{% endblock %}

{% block content %}
<h1>Liste des genres </h1>
{% for gender in genders %}
<div class="row">
<div class="col">{{ gender.title_gender }}</div>
<div class="col">
    <a class="far fa-eye btn btn-info" href="#" ></a>
    <a class="far fa-edit btn btn-warning" href="#"></a>
    <a class="fas fa-times btn btn-danger" href="#"></a>
</div>

{% if gender.closed %}
<i class="fas fa-lock"></i>
{% else %}
<i class="fas fa-lock -open"></i>
{% endif %}
</div>
{% endfor %}
<a class="btn btn-success" href="#">Create</a>
{% endblock %}