<!doctype html>

{% load static %}

<html lang="fr">
<head>
    <meta charset="utf -8">
    <title>
    {% block title %}{% endblock %}
    </title>
    {% block metas %}
    <meta name="viewport" content="width=device -width ,initial -scale=1, shrink -to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="navbar navbar -expand -md navbar -dark bg-dark p-3 mb-2 bg-dark text-white">
    <h1> Gestion des séries </h1>
    <a class="btn btn-light" href="http://localhost:8000/">Accueil</a>
    </nav >
    {% endblock %}
    <main role="main" class="container top-pushed">
    <div class="jumbotron">
    {% block content %}
    {% endblock %}
    </div>
    </main >
    {% block js %}
    <script src="{% static 'node_modules/jquery-slim/dist/jquery-slim.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/popper.min.js' %}"></script>
    {% endblock %}
</body>
</html>