{% extends "base.html" %}

{% block title %}
Détails Série
{% endblock %}

{% block content %}
    
<h1>Détails de la série : {{ serie.title }}</h1>

<table class="table tabel-hover">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Date de Sortie</th>
            <th scope="col">Notes</th>
            <th scope="col">Réalisateurs</th>
            <th scope="col">Acteurs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">{{serie.description}}</th>
            <th scope="col">{{serie.release_date}}</th>
            <th scope="col">{{serie.rating}}</th>
            <th scope="col">
                {% for director in serie.directors.all %}
                    {{director.firstname_director}} {{director.lastname_director}}<br>
                {% endfor %}
            </th>
            <th scope="col">
                {% for actor in serie.actors.all %}
                    {{actor.firstname_actor}} {{actor.lastname_actor}}<br>
                {% endfor %}                
            </th>
        </tr>
    </tbody>
</table>

{% endblock %}