{% extends 'base.html' %}

{% block title %}
Séries
{% endblock %}

{% block styles %}
{{ block.super }}
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity ="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin ="anonymous"> -->
{% endblock %}

{% block content %}
<h1>Liste des séries </h1>
<div class="row">
    <div class="col"><h5>Titre</h5></div>
    <div class="col"><h5>Date de sortie</h5></div>
    <div class="col"><h5>Note</h5></div>
<!--     <div class="col"><h4>Réalisateurs</h5></div>
    <div class="col"><h5>Acteurs</h5></div> -->
    <div class="col-3"><h5>Actions</h5></div>
</div>
{% for serie in series %}
<div class="row">
<div class="col">{{ serie.title }}</div>
<div class="col">{{ serie.release_date }}</div>
<div class="col">{{ serie.rating }}</div>
<!-- <div class="col">{{ serie.directors }}</div>
<div class="col">{{ serie.actors }}</div> -->

<!-- <div class="col">
	{% for director in serie.directors.all %}
	<p>{{director.firstname_director}} {{director.lastname_director}}</p>
	{% endfor %}
</div>
<div class="col">
	{% for actor in serie.actors.all %}
	<p>{{actor.firstname_actor}} {{actor.lastname_actor}}</p>
	{% endfor %}
</div>
 -->
<div class="col-3 bs-glyphicon">
    <a class="far fa-eye btn btn-info" href="/series/serie/{{serie.id}}/details/" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 3c-2.21 0-4 1.791-4 4s1.79 4 4 4c2.209 0 4-1.791 4-4s-1.791-4-4-4zm-.004 3.999c-.564.564-1.479.564-2.044 0s-.565-1.48 0-2.044c.564-.564 1.479-.564 2.044 0s.565 1.479 0 2.044z"/></svg></a>
    <a class="far fa-edit btn btn-warning" href="/series/serie/{{serie.id}}/update/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg></a>

    <a class="fas fa-times btn btn-danger" href="/series/serie/{{serie.id}}/delete/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg></a>
</div>

{% if serie.closed %}
<i class="fas fa-lock"></i>
{% else %}
<i class="fas fa-lock -open"></i>
{% endif %}
</div>
{% endfor %}
<a class="btn btn-success" href="/series/serie/create">Create</a>
{% endblock %}